<header>
  <div class="nav-scroller mb-2">
    <nav class="p-3 nav d-flex justify-content-center bg-dark text-decoration-none text-uppercase text-white"
      style="top: 2rem;">
      <a href="/" class="p-2 link-secondary <%= template === 'home' ? " active" : null %>">home</a>
      <p>.</p>
      <a href="/article" class="p-2 link-secondary <%= template === 'list' ? " active" : null %>">blog</a>
      <p>.</p>
      <% if(alias) { %>
        <a href="/admin" class="p-2 link-secondary <%= template === 'admin' ? " active" : null %>">admin</a>

        <a href="/auth/logout" class="p-2 link-secondary <%= template === 'user/connect' ? " active" : null
          %>">logout</a>
        <% } %>
          <% if(!alias) { %>

            <a href="/auth/login" class="p-2 link-secondary <%= template === 'user/connect' ? " active" : null
              %>">Connexion</a>
            <p>.</p>
            <a href="/auth/register" class="p-2 link-secondary">Créer un compte</a>
            <% } %>
              <p>
                <% if (alias) { %>
                  <p class="border m-1 p-1">User : <br>
                     <%= alias %>
                  </p>
                  <% } %>
              </p>
    </nav>
  </div>
  </div>
</header>