
<main class="container">
    <div class="row">
    <% for (const { index, title, description, date, picture } of articles) { %>

            <article class="card col-lg-4 m-2 p-0">
              <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
              <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Categorie</strong>
                <h5 class="card-title"><%= title %></h5>
                <div class="mb-1 text-muted"><%= date %></div>
                <p class="card-text"><%= description %></p>
               <a href="" class="btn btn-outline-success btn-sm">Read More</a>
               <span id="delete" data-id="<%= index %>"><i class="fas fa-trash"></i></span>

                <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
              </div>
            </article>
     

<!--      
        <div class="kittenCtn">
            <div class="mod">
                <span
                    id="update"
                    data-id="<%= index %>"
                    data-name="<%= title %>"
                    data-age="<%= date %>"
                    data-picture="<%= picture %>"
                    ><i class="fas fa-edit"></i
                ></span>

                <span id="delete" data-id="<%= index %>"
                    ><i class="fas fa-trash"></i
                ></span>
            </div>
            <a href="/articles/<%= index %>">
                <ul>
                    <li><%= title %></li>
                    <li><%= date %> an(s)</li>

                </ul>
                <img src="../images/<%= picture %>" alt="" />
            </a>
        </div> -->

    <%}%>
    </div>
</main>